@page "/fetchdata"
@attribute [Authorize(Roles = "Administrator")]
@using NytWeb.Models
@inject IUserService UserService
@inject IPostService PostService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var posts in posts)
            {
                <tr>
                    <td>@posts.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<PostModel> posts;

    protected override async Task OnInitializedAsync()
    {
        //posts = await PostService.GetUsersFeedAsync();
        return;
    }
}
