@page "/fetchdata"
@using NytWeb.Data
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

